.nav {
  display: flex;
  flex-direction: column;

  &__link {
    cursor: pointer;
    margin: 0 0 30px;

    &:hover:not(.nav__link--active) {
      color: green;
    }

    &--active {
      font-weight: bold;
      cursor: auto;
    }
  }
}